<div class="col-layout">
	<div class="header row-layout">
		<h3 class="flex-fill">RSG LogViewer</h3>
	</div>
	<div>
		<button class="clearLogBtn" id="dLabel" type="button" ng-click="clearLog()">Clear Log</button>    
	</div>
	
	<div 
		class="row-layout vertical-center-child"
		ng-class="{
			'has-success': isValidQuery,
			'has-error': !isValidQuery,
		}">
		<label>Query</label>
		<input style="Width: 50%" ng-model="queryText" type="text" placeholder="Enter query" ng-change="queryChanged()" class="form-control" autofocus>
	</div>

	<div
		class="row-layout vertical-center-child"
		>
		<label>Text</label>
		<input style="Width: 50%" ng-model="filterText" type="text" placeholder="Enter text" ng-change="filterChanged()" class="form-control" autofocus>
	</div>
	<div>
		<br/>
		<label>Total logs after filter: {{filteredLogCount}}</label>
	</div>
</div>

<div class="content row-layout">
	<div class="log-list">
		<div class="log-panel panel panel-default">
			<div class="panel-heading">
				Recent Log Messages
			</div>
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>
							Timestamp
						</th>
						<th>
							Level
						</th>
						<th>
							Message
						</th>
						<th>
							User
						</th>
					</tr>
				</thead>
				<tbody  infinite-scroll="addMoreLogs">
					<tr ng-repeat="data in visibleLogs"
						class=""
						ng-click="selectLog(data)"
						ng-class="{
								'active': selectedLog === data,
							}">
						<td>{{data.Timestamp | amDateFormat: 'D-M-YYYY hh:mm'}}</td>
						<td>
							<span class="label"
									ng-class="{
							'label-danger': data.Level.toLowerCase().includes('err'),
							'label-info': data.Level.toLowerCase().includes('info'),
							'label-warning': data.Level.toLowerCase() === 'warning',
						}">
								{{data.Level}}
							</span>
						</td>
						<td class="log-message">{{truncate(data.RenderedMessage)}}</td>
						<td>{{data.Properties.UserName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!--
	<div class="log-detail">
		<div class="log-details-panel panel panel-default">
			<div class="panel-heading">
				Selected Log Entry
			</div>
			<table class="table">
				<tr>
					<td>Timestamp</td>
					<td>{{selectedLog.Timestamp}}</td>
				</tr>
				<tr ng-repeat="(k,v) in selectedLog.Properties">
					<td><div class="truncate">{{k}}</div></td>
					<td><div class="truncate">{{v}}</div></td>
				</tr>
				<tr>
					<td>Message</td>
					<td><div class="truncate">{{selectedLog.RenderedMessage}}</div></td>
				</tr>
			</table>
		</div>
	</div>
	-->
</div>