body {

}

.header {
    margin-left: 15px;
}

.log-detail {
    width: 650px;
    position: fixed;
    top: 0;
    right: 0;
}

.log-panel {
    margin: 1em;
}

.log-details-panel {
    margin-top: 5em;
    margin-right: 1em;
}

.log-list {
	justify-content: flex-start;
}

.truncate {
  text-overflow: ellipsis;
}

.clearLogBtn {
    width: 100px;
    height: 40px;
    left: 15px;
}

.dropdown {
	padding-left: 10px;
}

*
{
    box-sizing: border-box;
}

.modal-backdrop
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.5;
}

.modal-holder
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 2;
    padding: 30px 15px;
}

.modal-box
{
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    position: relative;
}

@media screen and (min-width: 992px)
{
    .modal-box
    {
        width: 50%;
        padding: 30px;
    }
}