body {

}

.header {
    margin-left: 15px;
}

.log-detail {
    width: 650px;
}

.log-panel {
    margin: 1em;
}

.log-details-panel {
    margin: 1em;
}

.truncate {
  text-overflow: ellipsis;
}

.clearLogBtn {
    width: 100px;
    height: 40px;
    margin-right: 15px;
}